.middlesection {
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
     margin-top: 0rem;
}
.middlesectiondark {
    background-color: rgb(21, 19, 19);
    color: rgb(218, 214, 214);
}
