.leftsection {
    display: flex;
    flex-direction: column;
    height: 96.5%;
   
    justify-items: start;
    padding:10px;
    margin-top:0rem;
    overflow: auto;
    
}
.profile {
    margin-top: 1rem;
    height: auto;
}
.navboard {
    margin-top: 2.5rem;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 1rem;
}
.nav_list {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 25px;
    align-items: center;
    cursor: pointer;
}
.followsection {
    margin-top: 1rem;
    margin-right: 1rem;
    padding-left:16px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.title {
    margin-left: 1rem;
    font-size: large;
}
